.top-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;

    height: 48px;
    padding: 6px;
}

.about-a, .store-a, .gmail-a, .images-a, .search-labs-a, .google-apps-a{
    font-size: 14px;
    color: #e8e8e8;
    text-decoration: none;
    padding: 5px;
}

.about-a{
    margin: 0 5px 0 15px;
}

.store-a{
    margin: 0 0 0 2px;
}

.images-a{
    margin: 0 3px 0 5px;
}

.search-labs-a, .google-apps-a, .profile-photo-img{
    margin: 0 6px;
}

.search-labs-img, .google-apps-img {
    vertical-align: middle;
    margin-bottom: 4px;
    height: 20px;
    width: 20px;
}

.profile-photo-img{
    height: 30px;
    /* width: 30px; */
    vertical-align: middle;
    margin-bottom: 4px;
    border-radius: 50%;
}


.about-a:hover, .store-a:hover, .gmail-a:hover, .images-a:hover{
    text-decoration: underline;
}

/* .search-labs-a:hover, .google-apps-a:hover {
    background-color: #474a50;
    transition: background-color 0.7s;
} */